.file-manager {
    max-width: 1200px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(239, 238, 238);

    &-table{
        overflow-y: auto;
        overflow-x: hidden;
        height: 600px;
    }

    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }
}